@font-face {
  font-family: 'runescape-chat-07';
  src: url('./fonts/runescape-chat-07/runescape-chat-07.ttf');
}

:root {
  --red:    #FF0000;
  --yellow: #FFFF00;
  --green:  #008000;
  --blue:   #0000FF;
  --white:  #FFFFFF;
  --black:  #000000;
}

html,
body {
  background-color: transparent;
  font-family: 'runescape-chat-07';
  color: yellow;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

ul li {
  text-shadow: 1px 1px var(--black);
}
